<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="static/reset_password.css">
</head>
<body>
    <div id="reset-modal-overlay-notif">
        <div class="reset-modal-notif-box">
            <span id="reset-notif-modal-text"></span>
            <button id="reset-modal-notif-close-btn">x</button>
        </div>
    </div>

    <div class="reset-form-box">
        <form id="reset-form">
            <input id="reset-username" placeholder="username" autocomplete="username">
            <span id="reset-empty-username">Username can not be empty!</span>

            <span id="security-question"></span>

            <input id="reset-answer" type="text" placeholder="security answer" autocomplete="user-answer">
            <span id="reset-empty-answer">Security answer can not be empty!</span>

            <input id="new-password" type="password" placeholder="new password" autocomplete="new-password">
            <span id="reset-empty-password">new Password can not be empty!</span>
            <span id="reset-invalid-password">Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one number.</span>


            <button type="submit">Reset</button>
        </form>
    </div>

    <script src="/static/reset_password.js"></script>
</body>
</html>